
  
  /* .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 40%;
    padding: 10px 20px 10px 20px;
  }
  
  .modal-button {
    border-radius: 50%;
    background-color: rgb(93, 133, 93);
    color: white;
    padding: 5px 10px;
    cursor: pointer;
  } */